body{
    background-color: rgb(243, 147, 219);
    font-family: "Anton", sans-serif;
}
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
h1{
    color: black;
    letter-spacing: 5px;
    font-size: 30px;
    text-shadow: 2px 2px white;
    text-align: center;
}
form{
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
input{
    background-color: rgba(245, 168, 226, 0.979);
    padding: 5px;
    color: darkmagenta;
    font-size: 15px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(255, 142, 161);
}
label{
    font-size: 20px;
    color: black;
    letter-spacing: 5px;
    padding: 10px;
}
.row_1{
    width: 18.25%;
}
#NoCompSex{
    width: 5%;
}
#G{
    width: 5%;
}
#P{
    width: 5%;
}
#A{
    width: 5%;
}
#C{
    width: 5%;
}
.row_3{
    width: 32%;
}
.row_4{
    width: 22%;
}
div{
    text-align: center;
}
button{
    border: none;
    width: 20%;
    margin: auto;
    padding: 5px;
    font-family: "Anton", sans-serif;
    color: black;
    letter-spacing: 5px;
    align-content: center;
    font-size: 25px;
}
button.Continuar{
    background-color: pink;
}
button.Continuar:hover{
    background-color: rgb(177, 133, 140);
    color:white;
}
button.Omitir{
    background-color: gray;
}
button.Omitir:hover{
    background-color: rgb(49, 47, 47);
    color:white;
}
button.Terminado{
    background-color: red;
}
button.Terminado:hover{
    background-color: rgb(155, 0, 0);
    color:white;
}